<a href="https://colab.research.google.com/github/diwashsapkota/movierecommendationsystem/blob/main/cosine_similarity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [15]:
cd /content/drive/My Drive/Colab Notebooks/code heroku

'/content/drive/My Drive/Colab Notebooks/code heroku'

In [16]:
import requests
import pandas as pd
url = 'https://raw.githubusercontent.com/codeheroku/Introduction-to-Machine-Learning/master/Building%20a%20Movie%20Recommendation%20Engine/movie_dataset.csv'
df = pd.read_csv(url)
df.head()

   index  ...           director
0      0  ...      James Cameron
1      1  ...     Gore Verbinski
2      2  ...         Sam Mendes
3      3  ...  Christopher Nolan
4      4  ...     Andrew Stanton

[5 rows x 24 columns]

In [17]:
df.columns

Index(['index', 'budget', 'genres', 'homepage', 'id', 'keywords',
       'original_language', 'original_title', 'overview', 'popularity',
       'production_companies', 'production_countries', 'release_date',
       'revenue', 'runtime', 'spoken_languages', 'status', 'tagline', 'title',
       'vote_average', 'vote_count', 'cast', 'crew', 'director'],
      dtype='object')

In [18]:
df.describe()

             index        budget  ...  vote_average    vote_count
count  4803.000000  4.803000e+03  ...   4803.000000   4803.000000
mean   2401.000000  2.904504e+07  ...      6.092172    690.217989
std    1386.651002  4.072239e+07  ...      1.194612   1234.585891
min       0.000000  0.000000e+00  ...      0.000000      0.000000
25%    1200.500000  7.900000e+05  ...      5.600000     54.000000
50%    2401.000000  1.500000e+07  ...      6.200000    235.000000
75%    3601.500000  4.000000e+07  ...      6.800000    737.000000
max    4802.000000  3.800000e+08  ...     10.000000  13752.000000

[8 rows x 8 columns]

In [20]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity #to calculate cosine similarity between two vectors

In [21]:
#Demo on working of CountVectorizer and cosine_similarity
# text = ["London Paris London", "Paris Paris London"]
# #CountVectorizer helps to obtain the frequency of each word in the text
# cv = CountVectorizer()
# count_matrix = cv.fit_transform(text)
# # print(count_matrix.toarray())
# similarity_scores = cosine_similarity(count_matrix)
# print(similarity_scores)

In the similary_scores matrix, the first element denotes the extent of similarity of the first sentence with itself so that it is most likely to be 1. The second entry of the matrix represents the extent of similarity between the first sentence and the second sentence.

In [39]:
#Helper functions | Use them when needed
def get_title_from_index(index):
    return df[df.index == index]["title"].values[0]

def get_index_from_title(title):
    return df[df.title == title]["index"].values[0]

In [36]:
#select features from the dataset
features = ['keywords', 'cast', 'genres', 'director']

for feature in features:
    df[feature] = df[feature].fillna('')

#Create a column in DF which combines all selected features
def combine_features(row):
    try:
        return row['keywords'] + " " + row['cast'] + " " + row['genres'] + " " + row['director']
    except:
        print("Error: ", row)

df["combined_features"] = df.apply(combine_features, axis = 1)
print(df["combined_features"].head())
#Create count matrix from this new combined column
#Compute the Cosine Similarity based on the count_matrix

0    culture clash future space war space colony so...
1    ocean drug abuse exotic island east india trad...
2    spy based on novel secret agent sequel mi6 Dan...
3    dc comics crime fighter terrorist secret ident...
4    based on novel mars medallion space travel pri...
Name: combined_features, dtype: object

In [55]:
#CountVectorizer helps to obtain the frequency of each word in the dataframe
cv = CountVectorizer()

count_matrix = cv.fit_transform(df['combined_features'])
cosine_sim = cosine_similarity(count_matrix)
print(cosine_sim)

[[1.         0.10540926 0.12038585 ... 0.         0.         0.        ]
 [0.10540926 1.         0.0761387  ... 0.03651484 0.         0.        ]
 [0.12038585 0.0761387  1.         ... 0.         0.11145564 0.        ]
 ...
 [0.         0.03651484 0.         ... 1.         0.         0.04264014]
 [0.         0.         0.11145564 ... 0.         1.         0.        ]
 [0.         0.         0.         ... 0.04264014 0.         1.        ]]

In [56]:
#Take an input from the user
movie_user_likes = "Aliens"

In [57]:
#Get index of this movie from its title
movie_index = get_index_from_title(movie_user_likes)
similar_movies = list(enumerate(cosine_sim[movie_index]))

In [58]:
#Get a list of similar movies in descending order of similarity score
sorted_similar_movies = sorted(similar_movies, key = lambda x:x[1], reverse = True)

In [59]:
#Print titles of first 50 movies
i = 0
for movie in sorted_similar_movies:
    print(get_title_from_index(movie[0]))
    i = i+1
    if (i > 50):
        break

Aliens
The Terminator
Alien
Avatar
The Box
Alien³
Jason X
The One
The Abyss
Alien: Resurrection
Terminator 2: Judgment Day
Megiddo: The Omega Code 2
House at the End of the Drive
The Helix... Loaded
Event Horizon
Moonraker
Planet of the Apes
Lockout
Phantasm II
Surrogates
Guardians of the Galaxy
Unsullied
Unnatural
World War Z
Starship Troopers
Space Cowboys
All Superheroes Must Die
Sphere
Star Trek III: The Search for Spock
Capricorn One
X-Men: First Class
The Yards
Split Second
Eraser
Supernova
Mortal Kombat: Annihilation
The Boys from Brazil
Northfork
Rise of the Planet of the Apes
AVP: Alien vs. Predator
Dragonball Evolution
Star Trek VI: The Undiscovered Country
Lifeforce
Daybreakers
The Last Days on Mars
The Purge
This Thing of Ours
Alien Zone
Creature
Star Trek II: The Wrath of Khan
Star Wars: Clone Wars: Volume 1